pip-tools
django
django-extensions
django-debug-toolbar
django-browser-reload
whitenoise
Jinja2
wagtail
pydantic
pydantic[dotenv]
pre-commit
mysql-connector-python
mysqlclient
fontawesomefree
wagtailmedia
wagtail-color-panel
wagtail-cache