{% load static wagtailcore_tags wagtailuserbar %}
{# enables auto reload of browser in dev-mode, you can delete in production-mode #}
{% load django_browser_reload %}
{% django_browser_reload_script %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      {# Global stylesheets #}
      <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
      {# Global javascript #}
      <script src="{% static 'js/fw/jquery-3.6.4.min.js' %}"></script>
      <title>
         {% block title %}
         {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
         {% endblock %}
         {% block title_suffix %}
         {% wagtail_site as current_site %}
         {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
         {% endblock %}
      </title>
      {# Favicon #}
      <link rel="icon" type="image/x-icon" href="{% static 'media/images/favicon.ico' %}">
      {% if page.search_description %}
      <meta name="description" content="{{ page.search_description }}" />
      {% endif %}
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      {# Force all links in the live preview panel to be opened in a new tab #}
      {% if request.in_preview_panel %}
      <base target="_blank">
      {% endif %}
   </head>
   <body class="{% block body_class %}{% endblock %}">
      {% block extra_css %}
      {# add extra stylesheets #}
      {% endblock %}
      {% block extra_js %}
      {# add extra javascript #}
      {% endblock %}
      {% wagtailuserbar %}
      {% include 'snippets/burger.html' %}
      <div class="section">
         <div class="container">
            {% include 'snippets/breadcrumbs.html' %}
            {% block content %}
            {% endblock %}
         </div>
      </div>
      {% include 'snippets/footer.html' %}
   </body>
</html>