<style>
    .control_area {
        border: 1px dashed darkgrey;
        opacity: 0.5
    }
</style>

<script>
    var button = document.querySelector('#{{ edit_link }}');
    var div = document.querySelector('#{{ target }}');
    button.onmouseover = function (e) {
        div.classList.add('control_area');
    };
    div.onmouseout = function (e) {
        div.classList.remove('control_area');
    };
</script>


<script>
    $(document).ready(function () {
        $('#{{ target }}').hover(
            function () {
                $('#{{ edit_link }}').show();
            },
            function () {
                $('#{{ edit_link }}').hide();
            }
        )
    })
</script>


