{% load static wagtailsettings_tags wagtailcore_tags %}
<div class="container-fluid">
    <br>
    <h6>Sticky Navbar</h6>
    {% lorem 1 p %}
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% pageurl page.get_site.root_page %}">
            <img src="{% static 'media/images/logo.png' %}" alt="" width="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="target_edit_navigation">
                {{ settings.navigation.NavigationMenuSetting.menu_items }}
                {% if request.user.is_superuser %}
                    <a href="/admin/settings/navigation/navigationmenusetting/{{ settings.navigation.NavigationMenuSetting.site_id }}">
                        <i class="bi bi-wrench" id="edit_navigation"></i></a>
                    {% include 'snippets/jscss/edit_superuser.html' with edit_link='edit_navigation' target='target_edit_navigation' %}
                {% endif %}
            </ul>
            <form class="d-flex mt-3">
                <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary " type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

