{% load wagtailcore_tags static %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/burger.css' %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/burger.js' %}"></script>
{% endblock %}


<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="{% pageurl page.get_site.root_page %}" class="header__logo">
                <img src="{% static 'media/logo.png' %}" alt="">
                </a>

                {% include 'snippets/search.html' %}

                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="#" class="header__link">О нас</a>
                        </li>
                        <li>
                            <a href="#" class="header__link">Продукция</a>
                        </li>
                        <li>
                            <a href="#" class="header__link">Услуги</a>
                        </li>
                        <li>
                            <a href="#" class="header__link">Контакты</a>
                        </li>
                        <li>

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>