{% load static wagtailcore_tags wagtailsettings_tags %}
{% wagtail_site as current_site %}

<!-- Footer -->

<footer class="text-center text-lg-start bg-light text-muted p-1">
    <!-- Section: Social media -->
    {% if not settings.map.Map.brands_live and settings.map.Map.brands %}
        <section
                class="container  d-flex justify-content-center justify-content-lg-between p-4 border-top border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div class="brands">
                {{ settings.map.Map.brands }}
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
    {% endif %}
    <!-- Section: Links  -->
    <section>
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                {% if not settings.map.Map.address_live %}
                    <!-- Grid column -->
                    <div class="col-sm-6 mx-auto mb-4 d-lg-none">

                        <h2 class="text-uppercase fw-bold mb-4">
                            Контакты
                        </h2>
                        {% include 'map/contacts.html' %}
                        <p>
                        </p>
                    </div>
                {% endif %}
                <!-- Grid column -->
                <!-- Grid row -->


                <!-- Grid column -->
                <div class="col-sm-6 mx-auto mb-4 d-none d-lg-block">
                    <p class="text-uppercase fw-bold mb-4">
                        О нас
                    </p>
                    <p>
                        Индивидуальный предприниматель Иванов Иван Иванович
                    </p>
                    <p>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-sm-6 mx-auto mb-4">
                    <!-- Links -->
                    <p class="text-uppercase fw-bold mb-4">
                        ПОлезные ссылки
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © {% now 'Y' %} Copyright:
        <a class="text-reset fw-bold"
           href="/">{{ current_site.site_name }}</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
